<div class="container mt-4">
  <header class="bg-dark text-thite p-2 mb-2 text-center">
    <h1>Registro</h1>
  </header>

  <form (ngSubmit) ="submit()" [formGroup] ="form">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" formControlName="name" name="name" class="form-control"
        placeholder="Ingrese un nombre" [ngClass] ="{'is-invalid' : submitted && f['name'].errors}">

        <div *ngIf= "submitted && f['name'].errors" class="invalid-feedback">
          <div *ngIf= "f['name'].errors['required']">
            Nombre es requerido
          </div>
        </div>
    </div>

    <div class="form-group">
      <label for="email">Correo electronico</label>
      <input type="text" formControlName="email" name="email" class="form-control"
      placeholder="Ingrese un correo" [ngClass]="{'is-invalid': submitted && f['email'].errors}">

      <div *ngIf= "submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf= "f['email'].errors['required']">
            Se requiere un correo
        </div>

        <div *ngIf= "f['email'].errors['email']">
          Ingrese una direccion de correo valida
         </div>
      </div>
     </div>

     <div class="form-group">
      <label for="role">Rol</label>
      <select formControlName="role" name="role" class="form-control" [ngClass]="{'is-invalid': submitted && f['role'].errors}">
        <option value="user">Usuario</option>
        <option value="admin">Administrador</option>
      </select>

      <div *ngIf="submitted && f['role'].errors" class="invalid-feedback">
        <div *ngIf="f['role'].errors['required']">
          El rol es requerido
        </div>
      </div>
    </div>


   <div class="form-group">
      <label for="name">Contraseña</label>
      <input type="password" formControlName="password" name="password" class="form-control"
      placeholder="Ingrese una contraseña" [ngClass]= "{'is-invalid': submitted && f['password'].errors}">

    <div *ngIf= "submitted && f['password'].errors" class="invalid-feedback">
      <div *ngIf= "f['password'].errors['required']">
       Contraseña es requerido
      </div>

      <div *ngIf= "f['password'].errors['minlength']">
       La contraseña debe tener minimo 6 caracteres
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="name">Confirmar contraseña</label>
    <input type="password" formControlName="confirmPassword" name="confirmPassword" class="form-control"
    placeholder="Confirme su contraseña" [ngClass]= "{'is-invalid' : submitted && f['confirmPassword'].errors}" >

    <div *ngIf= "submitted && f['confirmPassword'].errors" class="invalid-feedback">
    <div *ngIf= "f['confirmPassword'].errors['required']">
       Requiere confirmar la contraseña
    </div>

      <div *ngIf= "f['confirmPassword'].errors['mustMatch']">
        La contraseña no es la misma
      </div>
    </div>
  </div>

    <button type="submit" class="btn btn-primary mt-4">Crear usuario</button>
  </form>

  <button class="btn btn-primary mt-4" (click)="goBack()">Volver</button>
</div>

