<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>faq.component</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/PROYECTO_PADAIS/src/app/modules/faq/faq.component.scss">
</head>
<body>
  <div class="container">
    <h1>Preguntas frecuentes</h1>
    <div class="tab">
      <input type="radio" name="acc" id="acc1">
      <label for="acc1">
        <h2>01</h2>
        <h3>Como puedo usarlo?</h3>
      </label>
    <div class= "content"><p>El punto y coma no es una especie de punto, por tal razón, la palabra que va después de él, debe escribirse con minúscula. Solo se escribe mayúscula después de este signo, cuando se trata de separar enunciados independientes, por ejemplo, oraciones.</p></div>
    </div>
  <div class="tab">
    <input type="radio" name="acc" id="acc2">
    <label for="acc2">
      <h2>02</h2>
      <h3>que puedo hacer?</h3>
    </label>
  <div class= "content"><p>El punto y coma no es una especie de punto, por tal razón, la palabra que va después de él, debe escribirse con minúscula. Solo se escribe mayúscula después de este signo, cuando se trata de separar enunciados independientes, por ejemplo, oraciones.</p></div>
  </div>
<div class="tab">
  <input type="radio" name="acc" id="acc3">
  <label for="acc3">
    <h2>03</h2>
    <h3>Como puedo usarlo?</h3>
  </label>
<div class= "content"><p>El punto y coma no es una especie de punto, por tal razón, la palabra que va después de él, debe escribirse con minúscula. Solo se escribe mayúscula después de este signo, cuando se trata de separar enunciados independientes, por ejemplo, oraciones.</p></div>
</div>
<div class="tab">
  <input type="radio" name="acc" id="acc4">
  <label for="acc4">
    <h2>04</h2>
    <h3>Como puedo usarlo?</h3>
  </label>
<div class= "content"><p>El punto y coma no es una especie de punto, por tal razón, la palabra que va después de él, debe escribirse con minúscula. Solo se escribe mayúscula después de este signo, cuando se trata de separar enunciados independientes, por ejemplo, oraciones.</p></div>
</div>
</div>
  <app-root></app-root>
</body>
</html>



