.navbar-blue {
    background-color: #000; 
    color: #fff; 
  }
  
  .nav-link {
    color: #fff !important; 
    transition: color 0.3s; 
  }
  
 
  .btn-outline-warning {
    border-color: #fff; 
    color: #fff; 
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .btn-outline-warning:hover {
    background-color: #07f7ff; 
    color: #000 !important; 
  }
  
  .nav-item {
    margin-right: 20px; 
  }
  
  .nav-item.active .nav-link {
    font-weight: bold; 
    color: #07e2ff !important; 
  }
  
  .nav-item .nav-link:hover {
    color: #07ffde !important; 
  }
  