<div class="container">

  <button type="button" (click)="openDialog()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProduct">Añadir</button>

  <!-- <div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5" id="exampleModalLabel">Nuevo Producto</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="col-md-4">
          <div class="modal-body">
            <form id="productsForm" [formGroup]="productsForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label class="form-label">name</label>
                <input type="text" class="form-control" formControlName="product_name" required>
              </div>

              <div class="mb-3">
                <label class="form-label">description</label>
                <input type="text" class="form-control" formControlName="description" required>
              </div>

              <div class="mb-3">
                <label class="form-label">precio</label>
                <textarea class="form-control" rows="3" formControlName="price"></textarea>
              </div>

              <div class="mb-3">
                <label class="form-label">Amount</label>
                <input type="number" class="form-control" formControlName="amount" required>
              </div>

              <div class="mb-3">
                <label class="form-label">image</label>
                <input type="text" class="form-control" formControlName="image" required>
              </div>

              <div class="mb-3">
                <button type="submit" class="btn btn-primary">add</button>
              </div>

              <div class="mb-3">
                <button type="submit" data-bs-dismiss="modal" class="btn btn-danger" routerLink="/products-list">cancelar</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Producto</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- <button class="btn btn-primary"  routerLink="/add-products">Add Product</button> -->
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="Active" routerLink="/products-list">All</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="Active" routerLink="/add-products" >Add</a>
          </li>


        </ul>
      </div> -->
    </div>
  </nav>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Lista de productos</h2>
  </div>

  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre del Producto</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ product.product_name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.amount }}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="delete(product.id, i)">Eliminar</button>
          <button type="button" class="btn btn-success" [routerLink]="'/edit-products/' + product.id">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
