
<div class="Debajo">

    <div class="container">

      <!-- <app-products-list></app-products-list> -->
          <div *ngFor="let item of products" class="product col-md-3">
            <img src="" alt="Producto 4">
            <h3>{{item.product_name}}</h3>
            <p class="price">{{item.price}}</p>
            <p class="descriptio">{{item.description}}</p>
            <p class="amount">{{item.amount}}</p>
            <button>Agregar al Carrito</button>
          </div>

        </div>

    </div>
