
<div class="Debajo">
    
    <div class="container">
        
          
          <div class="product col-md-3">
            <img src="" alt="Producto 4">
            <h3>Fabuloso</h3>
            <p class="price">$37.50</p>
            <button>Agregar al Carrito</button>
          </div>

          <div class="product col-md-3">
            <img src="" alt="Producto 4">
            <h3>Fabuloso</h3>
            <p class="price">$37.50</p>
            <button>Agregar al Carrito</button>
          </div>

          <div class="product col-md-3">
            <img src="" alt="Producto 4">
            <h3>Fabuloso</h3>
            <p class="price">$37.50</p>
            <button>Agregar al Carrito</button>
          </div>
       
          <div class="product col-md-3">
            <img src="" alt="Producto 4">
            <h3>Fabuloso</h3>
            <p class="price">$37.50</p>
            <button>Agregar al Carrito</button>
          </div>

          <div class="product col-md-3">
            <img src="" alt="Producto 4">
            <h3>Fabuloso</h3>
            <p class="price">$37.50</p>
            <button>Agregar al Carrito</button>
          </div>

          <div class="product col-md-3">
            <img src="" alt="Producto 4">
            <h3>Fabuloso</h3>
            <p class="price">$37.50</p>
            <button>Agregar al Carrito</button>
          </div>

          <div class="product col-md-3">
            <img src="" alt="Producto 4">
            <h3>Fabuloso</h3>
            <p class="price">$37.50</p>
            <button>Agregar al Carrito</button>
          </div>

          <div class="product col-md-3">
            <img src="" alt="Producto 4">
            <h3>Fabuloso</h3>
            <p class="price">$37.50</p>
            <button>Agregar al Carrito</button>
          </div>

          <div class="product col-md-3">
            <img src="" alt="Producto 4">
            <h3>Fabuloso</h3>
            <p class="price">$37.50</p>
            <button>Agregar al Carrito</button>
          </div>

        </div>
      
    </div>