<div class="horario-container">
  <table>
    <tr>
      <th colspan="2">Día y Horario de Atención</th>
    </tr>
    <tr *ngFor="let day of daysOfWeek; let i = index">
      <td>{{ day }}</td>
      <td *ngIf="day === 'Domingo'">{{ schedule[i][0].isOpen ? 'Abierto' : 'No se Labora' }}</td>
      <td *ngIf="day !== 'Domingo'">{{ hoursOfDay[0] }} - {{ hoursOfDay[hoursOfDay.length - 1] }}</td>
    </tr>
  </table>
</div>

<iframe
width="600"
height="450"
style="border:0"
loading="lazy"
allowfullscreen
referrerpolicy="no-referrer-when-downgrade"
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1865.912682821256!2d-47.89606824057528!3d-20.717314907075302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ba25f62993a9cf%3A0x87129025ddc2ed29!2sPadaisa%20Shop!5e0!3m2!1ses-419!2smx!4v1695674397712!5m2!1ses-419!2smx" >
</iframe>
