.horario-container {
  text-align: center;
  font-size: 18px;
  margin: 20px;
  width: 100%;
  max-width: 450px;
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border-radius: 15px; /* Aplicar bordes circulares a la tabla */
  overflow: hidden; /* Ocultar el desbordamiento de los bordes circulares */
}

th, td {
  padding: 10px;
  border-radius: 15px; /* Aplicar bordes circulares a las celdas */
}

td  {
  text-align: left;
}
th {
  background-color: #00bfff;
  color: #000000;

}

tr:nth-child(even) {
  background-color: #ffffff;
}

th[colspan="2"] {
  border-bottom-left-radius: 15px; /* Aplicar borde circular inferior izquierdo */
}

/* Estilos para las celdas donde no se trabaja (domingo) */
.no-trabaja {
  background-color: #ff0000; /* Color de fondo rojo para indicar que no se trabaja */
  color: #fff; /* Texto en blanco para mayor contraste */
}
.contenedorMapDesp{
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 1050px;
}
.contenedorMapa{
width: 100%;
}
.map-container {
  //display: flex;
  //justify-content: center; // Centrar horizontalmente
  //align-items: center; // Centrar verticalmente
  width: 100%;
  max-width: 600px;
  //text-align: center;

  //height: 100vh; // Altura del contenedor del 100% de la ventana
}

// Estilo para el iframe del mapa
.map-iframe {
  width: 600px; // Ancho del mapa
  height: 450px; // Altura del mapa
  border: 0;
}
