<div class="container">
  <h1>Productos Recomendado</h1>

  <div class="product">
      <img src="./assets/image/producto1.jpg" alt="Producto 1">
      <h3>Limpiador Multiusos</h3>
      <p>Un limpiador eficaz para todo tipo de superficies.</p>
      <p class="price">$25.50</p>
      <button>Agregar al Carrito</button>
  </div>

  <div class="product">
      <img src="./assets/image/producto2.jpg" alt="Producto 2">
      <h3>Detergente para Ropa</h3>
      <p>Elimina las manchas y deja la ropa limpia y fresca.</p>
      <p class="price">$28.00</p>
      <button>Agregar al Carrito</button>
  </div>

  <div class="product">
      <img src="./assets/image/producto3.png" alt="Producto 3">
      <h3>Desinfectante de Superficies</h3>
      <p>Elimina gérmenes y bacterias en las superficies.</p>
      <p class="price">$34.90</p>
      <button>Agregar al Carrito</button>
  </div>

  <div class="product">
      <img src="./assets/image/producto4.png" alt="Producto 4">
      <h3>Fabuloso</h3>
      <p>Limpiador para superficies.</p>
      <p class="price">$37.50</p>
      <button>Agregar al Carrito</button>
  </div>

  <div class="product">
      <img src="./assets/image/producto5.png" alt="Producto 5">
      <h3>Mr. Musculo</h3>
      <p>Limpiador y desinfectante de superficies.</p>
      <p class="price">$67</p>
      <button>Agregar al Carrito</button>
  </div>

  <div class="product">
    <img src="./assets/image/producto5.png" alt="Producto 5">
    <h3>Mr. Musculo</h3>
    <p>Limpiador y desinfectante de superficies.</p>
    <p class="price">$67</p>
    <button>Agregar al Carrito</button>
</div>
