<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-">
                <ul class="list-inline text-center footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.facebook.com/profile.php?id=100004900097637&mibextid=ZbWKwL">
                            <img src="/assets/image/facebook.png" alt="Facebook" width="40" height="40">
                        </a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/">
                            <img src="/assets/image/isntagram.png" alt="Instagram" width="40" height="40">
                        </a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/">
                            <img src="/assets/image/x.png" alt="Twitter" width="40" height="40">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-100 bg-black py-4">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12 text-center">
                    <p class="text-light">

                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
