/* Estilos para los productos */
.container {
    margin: 20px auto;
    text-align: center;
}

.product {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: 30%;
}

.product img {
    max-width: 50%;
    height: 20%;
}

.product h3 {
    margin: 10px 0;
    font-size: 18px;
}

.product p {
    font-size: 14px;
    margin: 10px 0;
}

.product .price {
    font-size: 16px;
    font-weight: bold;
    color: #03a9f4;
}

.product button {
    background: #03a9f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.product button:hover {
    background: #0288d1;
}

/* wicho aqui estan los estilos para el carrusel*/
.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto asegura que la imagen se ajuste y recorte según el tamaño del contenedor */
}
#template-mo-zay-hero-carousel {
    background-color: #f0ecec;
}

#template-mo-zay-hero-carousel .carousel-indicators {
    list-style: none; 
}

#template-mo-zay-hero-carousel .carousel-indicators li {
    background-color: #ccc; 
}


/* Estilos para el horario*/
.horario-container {
    text-align: center;
    font-size: 18px;
    margin: 20px;
  }
  
  table {
    width: 45%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 15px; /* Aplicar bordes circulares a la tabla */
    overflow: hidden; /* Ocultar el desbordamiento de los bordes circulares */
  }
  
  th, td {
    padding: 10px;
    border-radius: 15px; /* Aplicar bordes circulares a las celdas */
  }
  
  td  {
    text-align: left;
  }
  th {
    background-color: #00bfff;
    color: #000000;
   
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  th[colspan="2"] {
    border-bottom-left-radius: 15px; /* Aplicar borde circular inferior izquierdo */
  }
  
  /* Estilos para las celdas donde no se trabaja (domingo) */
  .no-trabaja {
    background-color: #ff0000; /* Color de fondo rojo para indicar que no se trabaja */
    color: #fff; /* Texto en blanco para mayor contraste */
  }