<div class="container mt-4">
  <header class="bg-dark text-thite p-2 mb-2 text-center">
    <h1>Iniciar sesion</h1>
  </header>

  <form (ngSubmit)= "submit()" [formGroup]= "form">
    <div class="form-group">
      <label for="email">Correo</label>
      <input type="text" formControlName="email" name="email" class="form-control"
      placeholder="Enter email" [ngClass]="{'is-invalid': submitted && f['email'].errors}">

      <div *ngIf= "submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf= "f['email'].errors['required']">
           El correo es requerido
        </div>

        <div *ngIf= "f['email'].errors['email']">
          El correo insertado es invalido
         </div>
      </div>
     </div>

     <div class="form-group">
      <label for="name">Contraseña</label>
      <input type="password" formControlName="password" name="password" class="form-control"
      placeholder="Enter password" [ngClass]= "{'is-invalid': submitted && f['password'].errors}">

      <div *ngIf= "submitted && f['password'].errors" class="invalid-feedback">
      <div *ngIf= "f['password'].errors['required']">
       Contraseña es requerido
      </div>

      <div *ngIf= "f['password'].errors['minlength']">
        La contraseña debe tener mas de 6 caracteres
      </div>
    </div>
  </div>

        <button class="btn btn-primary btn-sm mt-4">Iniciar sesion</button>
  </form>
</div>
