<div class="container mt-4">
  <section>
    <div class="Usuario" class="mt-5" *ngIf="currentUser">
      <h2>Detalles del Usuario</h2>
      <ul>
        <li><strong>Nombre:</strong> {{ currentUser.name }}</li>
        <li><strong>Email:</strong> {{ currentUser.email }}</li>
        <li><strong>Rol:</strong> {{ currentUser.role }}</li>
      </ul>
      <div class="enlaces-horizontal">
      <a href="userdata">Actualizar datos</a>
      </div>
    </div>
  </section>

  <section id="carrito" class="mt-5">
    <h2>Acciones del administrador</h2>
    <p>Elija una</p>

    <div class="enlaces-horizontal">
      <a href="products-list">Lista de productos</a>
    </div>

    <div class="enlaces-horizontal">
      <a href="time-list">Lista de productos</a>
    </div>
    <div class="enlaces-horizontal">
      <a href="listar-productos">Lista de Pedidos</a>
    </div>

  </section>
</div>
