<!-- Contenido principal -->
<div class="container mt-4">
  <!-- Sección de Detalles del Usuario -->
  <section>
    <div class="userData" *ngIf="currentUser">
      <h2>Detalles del Usuario</h2>
      <ul>
        <li><strong>Nombre:</strong> {{ currentUser.name }}</li>
        <li><strong>Email:</strong> {{ currentUser.email }}</li>
        <li><strong>Rol:</strong> {{ currentUser.role }}</li>

      </ul>
      <a href="userdata">Actualizar datos</a>
    </div>
  </section>

  <!-- Sección de Productos -->
  <section id="carrito" class="mt-5">
    <h2>Carrito de compras</h2>
    <p>Lista de carrito</p>

    <!-- Enlaces horizontales para redirigir a otras páginas -->
    <div class="enlaces-horizontal">
      <a href="products-list">Lista de productos</a>
    </div>

    <div class="enlaces-horizontal">
      <a href="time-list">Lista de productos</a>
    </div>

  </section>

</div>
