<!-- Contenido principal -->
<div class="container mt-4">
  <!-- Sección de Usuarios -->
  <section id="usuarios">
    <h2>Usuarios</h2>
    <p>Administracion de usuarios</p>
    <div class="enlaces-horizontal">
      <a href="users-details">Lista de usuarios</a>
    </div>

    <div class="enlaces-horizontal">
      <a href="adm-register">Añadir usuarios</a>
    </div>

  </section>

  <!-- Sección de Productos -->
  <section id="productos" class="mt-5">
    <h2>Productos</h2>
    <p>Administracion de productos</p>

    <!-- Enlaces horizontales para redirigir a otras páginas -->
    <div class="enlaces-horizontal">
      <a href="products-list">Lista de productos</a>
    </div>

    <div class="enlaces-horizontal">
      <a href="time-list">Lista de productos</a>
    </div>

  </section>


</div>
